<div
  class="px-8 py-8 bg-gradient-to-r from-indigo-500 to-blue-500 min-h-screen text-gray-200 sm:px-16 md:px-24 lg:px-32 xl:px-48"
>
  <!-- header -->
  <div class="flex justify-center mb-4">
    <span class="text-3xl font-medium text-fuchsia-900">Weather Dashboard</span>
  </div>
  <div class="flex justify-center gap-6 mb-8 flex-wrap">
    <!-- Add to Favorites (Left) -->
    <div class="flex items-start gap-4">
      <!-- Search Card (Fixed Width) -->
      <div class="bg-white/10 p-4 rounded-lg shadow-sm min-w-[250px]">
        <div class="flex items-center mb-2">
          <input
            [(ngModel)]="city"
            placeholder="Enter city name"
            class="flex-grow bg-transparent border-none focus:outline-none placeholder-gray-300 text-white"
          />
          <button
            (click)="addToFavorites()"
            class="ml-2 bg-fuchsia-500 hover:bg-fuchsia-600 text-white font-medium py-1 px-3 rounded transition duration-200"
          >
            Add
          </button>
        </div>
      </div>

      <!-- Favorites Card (Flexible Width) -->
      <div class="bg-white/10 p-4 rounded-lg shadow-sm flex-grow">
        <app-favorites></app-favorites>
      </div>
    </div>

    <!-- Search -->
    <div class="w-full">
      <form
        (ngSubmit)="searchWeather()"
        class="flex flex-row items-center justify-center"
      >
        <div class="">
          <input
            [(ngModel)]="location"
            name="location"
            id="location"
            type="text"
            placeholder="Enter location"
            class="shadow appearance-none border-2 rounded-l-lg w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          />
        </div>
        <div class="flex items-center justify-between">
          <button
            type="submit"
            class="bg-blue-400 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded-r-lg focus:outline-none focus:shadow-outline"
          >
            <div class="flex items-center py-1">
              <mat-icon class="">search</mat-icon>
              <span class="hidden md:block">Search</span>
            </div>
          </button>
        </div>
      </form>
    </div>

    @if (isLoading) {
    <div class="flex justify-center my-16">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
    } @if (weatherData) {
    <!-- location -->
    <div class="my-8">
      <div class="flex flex-col justify-center items-center">
        <span class="text-2xl font-medium"
          >{{ weatherData.location.name }},
          {{ weatherData.location.country }}</span
        >
        <span>{{ currentDate }}</span>
      </div>
    </div>
    <!-- current weather -->
    <div>
      <div class="flex justify-between lg:px-4">
        <div class="flex flex-col">
          <div>
            <span class="text-3xl font-medium">{{
              weatherData.current.temp_c
            }}</span
            ><span class="degree-symbol">°</span>
          </div>
          <span class="">{{ weatherData.current.condition.text }}</span>
        </div>
        <div class="shadow-sm">
          <img
            src="{{ weatherData.current.condition.icon }}"
            alt="{{ weatherData.current.condition.text }}"
          />
        </div>
      </div>
      <div class="lg:px-4">
        <span
          >{{ weatherData.forecast.forecastday[0].day.maxtemp_c }}° /
          {{ weatherData.forecast.forecastday[0].day.mintemp_c }}°</span
        >
        <span class="px-2">Feels like</span>
        <span>{{ weatherData.current.feelslike_c }}°</span>
      </div>
      <!-- more info -->
      <div class="my-4 grid grid-cols-2 gap-4 sm:grid-cols-4">
        <div
          class="w-full glass-bg p-4 m-2 rounded-lg flex flex-col items-center"
        >
          <mat-icon class="sm-hidden mt-1">air</mat-icon>
          <span class="my-1">
            {{ weatherData.current.wind_kph }}
            {{ weatherData.current.wind_dir }}
          </span>
          <span class="text-xs mt-2">Wind Speed</span>
        </div>
        <div
          class="w-full glass-bg p-4 m-2 rounded-lg flex flex-col items-center"
        >
          <mat-icon class="sm-hidden mt-1">water_drop</mat-icon>
          <span class="my-1">
            {{ weatherData.current.humidity }}
          </span>
          <span class="text-xs mt-2">Humidity</span>
        </div>
        <div
          class="w-full glass-bg p-4 m-2 rounded-lg flex flex-col items-center"
        >
          <mat-icon class="sm-hidden mt-1">dew_point</mat-icon>
          <span class="my-1"> {{ weatherData.current.dewpoint_c }}° </span>
          <span class="text-xs mt-2">Dew Point</span>
        </div>
        <div
          class="w-full glass-bg p-4 m-2 rounded-lg flex flex-col items-center"
        >
          <mat-icon class="sm-hidden mt-1">visibility</mat-icon>
          <span class="my-1"> {{ weatherData.current.vis_km }} km </span>
          <span class="text-xs mt-2">Visibility</span>
        </div>
      </div>
      <!-- more info lg -->
      <div class="my-4 lg:grid grid-cols-2 gap-4 sm:grid-cols-4 hidden">
        <div
          class="w-full glass-bg p-4 m-2 rounded-lg flex flex-col items-center"
        >
          <mat-icon class="sm-hidden mt-1">sunny</mat-icon>
          <span class="my-1">
            {{ weatherData.forecast.forecastday[0].astro.sunrise }} -
            {{ weatherData.forecast.forecastday[0].astro.sunset }}
          </span>
          <span class="text-xs mt-2">Sunrise - Sunset</span>
        </div>
        <div
          class="w-full glass-bg p-4 m-2 rounded-lg flex flex-col items-center"
        >
          <mat-icon class="sm-hidden mt-1">compress</mat-icon>
          <span class="my-1">
            {{ weatherData.current.pressure_mb }}
          </span>
          <span class="text-xs mt-2">Pressure</span>
        </div>
        <div
          class="w-full glass-bg p-4 m-2 rounded-lg flex flex-col items-center"
        >
          <mat-icon class="sm-hidden mt-1">light_mode</mat-icon>
          <span class="my-1">
            {{ weatherData.current.uv }}
          </span>
          <span class="text-xs mt-2">UV</span>
        </div>
        <div
          class="w-full glass-bg p-4 m-2 rounded-lg flex flex-col items-center"
        >
          <mat-icon class="sm-hidden mt-1">dark_mode</mat-icon>
          <span class="my-1">
            {{ weatherData.forecast.forecastday[0].astro.moonrise }} -
            {{ weatherData.forecast.forecastday[0].astro.moonset }}
          </span>
          <span class="text-xs mt-2">Moonrise - Moonset</span>
        </div>
      </div>
      <!-- hourly info -->
      <div class="flex flex-col shadow-md glass-bg rounded-lg my-4">
        <div class="px-4 py-2">
          {{ weatherData.forecast.forecastday[0].day.daily_chance_of_rain }}%
          chance of rain
        </div>
        <hr />
        <div class="overflow-x-auto flex">
          @for (item of weatherData.forecast.forecastday[0].hour; track $index)
          {
          <div class="flex flex-col border-1 px-4 py-2">
            <span class="py-2">{{ item.time.split(" ")[1] }}</span>
            <img
              src="{{ item.condition.icon }}"
              alt="{{ item.condition.text }}"
            />
            <span class="py-2">{{ item.temp_c }}°</span>
            <div class="flex items-center justify-center py-2">
              <mat-icon class="sm-hidden mt-1">water_drop</mat-icon>
              <span class="py-1">{{ item.humidity }}</span>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
    <!-- upcoming -->
    <div class="my-12">
      <span class="font-medium lg:text-lg"
        >Weather report of upcoming days</span
      >
      <div class="glass-bg rounded-lg shadow-md flex flex-col my-2">
        @for (item of weatherData.forecast.forecastday; track $index) {
        <div
          class="flex justify-between md:justify-around items-center overflow-x-auto lg:bg-gradient-to-r from-indigo-400 to-blue-400"
        >
          <span class="px-2 py-1">{{ item.date }}</span>
          <div class="flex items-center">
            <mat-icon class="sm-hidden mt-1">water_drop</mat-icon>
            <span class="py-1">{{ item.day.avghumidity }}</span>
          </div>
          <img
            class="py-1"
            src="{{ item.day.condition.icon }}"
            alt="{{ item.day.condition.text }}"
          />
          <span class="px-2 py-1">{{ item.day.maxtemp_c }}°</span>
          <span class="px-2 py-1">{{ item.day.mintemp_c }}°</span>
        </div>
        <div class="overflow-x-auto hidden lg:flex mb-12">
          @for (item of item.hour; track $index) {
          <div class="flex flex-col border-1 px-4 py-2">
            <span class="py-2">{{ item.time.split(" ")[1] }}</span>
            <img
              src="{{ item.condition.icon }}"
              alt="{{ item.condition.text }}"
            />
            <span class="py-2">{{ item.temp_c }}°</span>
          </div>
          }
        </div>
        }
      </div>
    </div>
    }
  </div>
</div>
